.border {
    padding: 3rem;
    border-radius: 0.75rem;
    background-color: white;
}

.main-image {
    display: flex;
    position: absolute;
    height: 32rem;
    width: 50rem;
    border-radius: 5%;
    z-index: -1;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.about-image {
    height: 20rem;
    width: 35rem;
    border-radius: 5%;
}

.feature-image {
    height: 19rem;
    width: 33rem;
    border-radius: 0.75rem;
}

@media (max-width: 480px) {
    .main-image {
        height: auto;
        border-radius: 10%;
        margin-top: 0 !important;
    }

    .feature-image {
        display: none !important;
    }

    .about-image {
        height: auto !important;
    }

    .border {
        padding: 1rem !important;
        border: 0 !important; 
        background-color: rgba(255 255 255);
        margin-top: 80 !important;
        width: 50%;
        margin-left: 1rem;
    }

    p {
        font-size: 0.85rem !important;
    }

    button {
        font-size: 0.75rem !important;
        height: auto;
    }

    h1 {
        font-size: 1.5rem !important;
    }
}